.breadcrumb {
    background-color: var(--color-pink-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    width: 100%;
}

.breadcrumb-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.breadcrumb-current {
    color: var(--color-pink-700);
}

.home-icon {
    font-size: 16px;
}

.link-to-home {
    height: 16px;
}
