.category-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: var(--spacing-xs);
}

.category-button {
    border-radius: var(--radius-xl);
    white-space: nowrap;
}

.category-container::-webkit-scrollbar {
    display: none;
}

.category-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
