.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination-go-to-page,
.pagination-navigation {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

@media (max-width: 375px) {

    .pagination-container {
        justify-content: center;
        gap: var(--spacing-xs);
    }

    .pagination-go-to-page,
    .pagination-navigation {
        gap: var(--spacing-xxs);
    }

}