.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
}

.pagination-go-to-page,
.pagination-navigation {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.chevron-icon {
    font-size: 14px;
}

.ellipsis-icon {
    font-size: 5px;
}

@media (max-width: 375px) {
    .pagination-container {
        justify-content: center;
    }

    .pagination-go-to-page,
    .pagination-navigation {
        gap: var(--spacing-xxs);
    }
}
