button,
input {
    font: inherit;
}

a {
    color: var(--foreground);
    text-decoration: none;
}

.hover-shadow:hover {
    box-shadow: 0 0 4px var(--color-gray-600);
}

.cursor-pointer {
    cursor: pointer;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

hr {
    color: var(--color-black);
}

.section-padding {
    padding: var(--section-padding-y) var(--page-padding-x);
}

.page-padding {
    padding: var(--page-padding-y) var(--page-padding-x);
}
