:root {
    /* font weight */
    --weight-regular: 400;
    --weight-bold: 700;

    /* stroke */
    --stroke-thin: 1px;

    /* radius */
    --radius-xs: 2px;
    --radius-s: 8px;
    --radius-sm: 12px;
    --radius-m: 16px;
    --radius-xl: 100px;

    /* font size */
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-ml: 20px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 36px;

    /* line height */
    --line-height-xxxs: 12px;
    --line-height-xxs: 15px;
    --line-height-xs: 17px;
    --line-height-s: 19px;
    --line-height-m: 24px;
    --line-height-l: 29px;
    --line-height-xl: 39px;
    --line-height-xxl: 44px;

    /* spacing */
    --spacing-xxxs: 2px;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-sm: 20px;
    --spacing-m: 24px;
    --spacing-l: 36px;
    --spacing-xl: 64px;
    --spacing-xxl: 96px;
    --spacing-xxxl: 128px;

    /* color */
    --color-black: #000000;
    --color-white: #ffffff;

    --color-gray-100: #f5f5f5;
    --color-gray-500: #cccccc;
    --color-gray-600: #8b8b8b;
    --color-gray-700: #767676;
    --color-gray-800: #4f4f4f;

    --color-yellow-200: #f7f5cc;
    --color-yellow-500: #c1aa00;

    --color-orange-300: #e89b83;
    --color-orange-700: #d73300;

    --color-red-200: #ffafaf;
    --color-red-500: #ff0000;
    --color-red-600: #e20000;
    --color-red-700: #6b0020;

    --color-pink-10: #fff8fa;
    --color-pink-30: #fff7fb;
    --color-pink-50: #fff5f6;
    --color-pink-100: #ffdae6;
    --color-pink-200: #ff91b2;
    --color-pink-300: #f05684;
    --color-pink-400: #de5981;
    --color-pink-700: #9d174d;
    --color-pink-800: #831843;

    --color-mauve-100: #f5d8e7;

    --color-purple-50: #fcf7ff;
    --color-purple-100: #e9d5ff;
    --color-purple-200: #c7bcd9;
    --color-purple-500: #8b5cf6;
    --color-purple-700: #332171;

    --color-blue-500: #0075ff;
    --color-blue-700: #005cc8;

    --color-cyan-300: #7fe3e3;

    --color-teal-200: #c1f1dd;
    --color-teal-300: #7fe3c2;
    --color-teal-700: #468671;
    --color-teal-800: #005252;

    --color-green-100: #eafbe9;
    --color-green-200: #caf497;
    --color-green-500: #008b51;
    --color-green-600: #4c8b00;
    --color-green-700: #396800;
    --color-green-800: #27603d;
}
