@import "./primitive.css";

:root {
    /* Font size */
    --font-size-heading: var(--font-size-xxl);
    --font-size-title: var(--font-size-l);
    --font-size-body: var(--font-size-m);
    --font-size-caption: var(--font-size-xxs);

    /* Line height */
    --line-height-heading: var(--line-height-xxl);
    --line-height-title: var(--line-height-l);
    --line-height-body: var(--line-height-s);
    --line-height-caption: var(--line-height-xxxs);

    /* Layout */
    --page-padding-x: var(--spacing-xxxl);
    --page-padding-y: var(--spacing-xl);
    --section-padding-y: var(--spacing-s);
    --page-gap: var(--spacing-l);
    --header-height: 82px;

    /* Button */
    --button-square-size-s: 33px;
    --button-square-size-m: 35px;
    --button-square-size-l: 37px;

    /* Color */
    --foreground: var(--color-black);
    --background: var(--color-white);
}

@media (max-width: 768px) {
    :root {
        --font-size-heading: var(--font-size-xl);
        --font-size-title: var(--font-size-ml);
        --font-size-body: var(--font-size-s);

        --line-height-heading: var(--line-height-xl);
        --line-height-title: var(--line-height-m);
        --line-height-body: var(--line-height-xs);

        --page-padding-x: var(--spacing-xl);
        --page-padding-y: var(--spacing-l);
        --page-gap: var(--spacing-m);
    }
}

@media (max-width: 375px) {
    :root {
        --font-size-heading: var(--font-size-ml);
        --font-size-title: var(--font-size-m);
        --font-size-body: var(--font-size-xs);

        --line-height-heading: var(--line-height-m);
        --line-height-title: var(--line-height-s);
        --line-height-body: var(--line-height-xxs);

        --page-padding-x: var(--spacing-m);
        --page-padding-y: var(--spacing-s);
        --page-gap: var(--spacing-s);
        --header-height: 72px;
    }
}
