.product-detail-actions {
    width: 100%;
    display: flex;
    gap: var(--spacing-s);
}

.action-item {
    width: 100%;
}

@media (max-width: 1024px) {
    .product-detail-actions {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .product-detail-actions {
        gap: var(--spacing-xs);
    }
}
