.btn {
    padding: var(--spacing-xs) var(--spacing-s);
    border-radius: var(--radius-s);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.square {
    padding: var(--spacing-xs);
    aspect-ratio: 1 / 1;
    width: var(--button-square-size-l);
    height: var(--button-square-size-l);
}

/* Primary */
.btn-primary {
    background-color: var(--color-pink-700);
    border: 1px solid var(--color-pink-700);
    color: var(--color-white);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--color-pink-800);
    border: 1px solid var(--color-pink-800);
}

/* Secondary */
.btn-secondary {
    background-color: var(--color-pink-50);
    border: 1px solid var(--color-pink-700);
    color: var(--color-pink-700);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: var(--color-pink-400);
    border: 1px solid var(--color-pink-400);
    color: var(--color-white);
}

.btn-secondary:focus {
    outline: 2px solid var(--color-black);
    outline-offset: 2px;
}

/* Border Black */
.btn-border-black {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.btn-border-black:disabled {
    border-color: var(--color-gray-500);
    color: var(--color-gray-500);
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .square {
        width: var(--button-square-size-m);
        height: var(--button-square-size-m);
    }
}

@media (max-width: 375px) {
    .btn {
        gap: var(--spacing-xxs);
    }

    .square {
        width: var(--button-square-size-s);
        height: var(--button-square-size-s);
    }
}