.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-pink-100);
}

.logo-header {
    width: 50px;
    height: 50px;
}

.action-header,
.menu-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
}

.icon-wrapper {
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.icon {
    font-size: 24px;
    cursor: pointer;
}

.icon-number {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--radius-xl);
    background-color: var(--color-pink-700);
    color: var(--color-white);
}

@media (max-width: 375px) {
    .logo-header {
        width: 40px;
        height: 40px;
    }

    .menu-header {
        gap: var(--spacing-xs);
    }

    .action-header {
        gap: var(--spacing-s);
    }

    .icon {
        font-size: 18px;
    }

    .cart-number {
        width: 18px;
        height: 18px;
    }
}
