.wrapper {
    display: flex;
    gap: var(--spacing-l);
}

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        gap: var(--spacing-m);
    }
}

@media (max-width: 480px) {
    .wrapper {
        gap: var(--spacing-s);
    }
}
