.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-pink-100);
}

.logo-link {
    display: inline-flex;
}

.logo-header {
    width: 50px;
    height: 50px;
}

.action-header,
.menu-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
}

.icon-wrapper {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    margin-right: -7px;
}

.icon-logout {
    font-size: 26px;
    margin-right: -1px;
    cursor: pointer;
}

.icon-cart {
    font-size: 24px;
    cursor: pointer;
}

.icon-number {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    margin-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--radius-xl);
    background-color: var(--color-pink-700);
    color: var(--color-white);
}

@media (max-width: 480px) {
    .logo-header {
        width: 40px;
        height: 40px;
    }

    .menu-header {
        gap: var(--spacing-xs);
    }

    .action-header {
        gap: var(--spacing-s);
    }

    .icon-wrapper {
        margin-right: -5px;
    }

    .icon-cart {
        font-size: 18px;
    }

    .icon-number {
        width: 18px;
        height: 18px;
        margin-right: 4px;
    }

    .icon-logout {
        font-size: 20px;
        margin-right: -2px;
    }

    .cart-number {
        width: 18px;
        height: 18px;
    }
}
