.signup-container {
    width: 100%;
    flex: 1;
    /* min-height: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-l);
}

.signup-form-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.signup-form-item {
    width: 100%;
}

.signup-button {
    width: 100%;
}

@media (max-width: 1024px) {
    .signup-form {
        gap: var(--spacing-m);
        width: 100%;
    }
    .signup-form-items-container {
        gap: var(--spacing-s);
    }
}

@media (max-width: 480px) {
    .signup-form {
        gap: var(--spacing-s);
    }
    .signup-form-items-container {
        gap: var(--spacing-xs);
    }
}
