.view-area {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: auto;
}

.cell {
    background-color: #fff;
    padding: var(--spacing-s) var(--spacing-m);
}

.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-cell {
    position: absolute;
    top: 0;
    width: var(--body-cell-width);
    height: var(--header-cell-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xs);
}

.product-img {
    border-radius: var(--radius-m);
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-actions {
    width: 100%;
    display: flex;
    gap: var(--spacing-xs);
}

.button-action {
    width: 100%;
    flex: 1;
}

.body-row {
    position: sticky;
    left: 0;
    width: var(--body-cell-width);
    z-index: 1;
}

.cell-remove-all {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: var(--body-cell-width);
    height: var(--header-cell-height);
    align-content: end;
}

.text-remove-all {
    text-decoration: underline;
    cursor: pointer;
}

.body-label {
    position: absolute;
    left: 0;
    width: var(--body-cell-width);
    height: var(--body-cell-height);
}

.body-cell {
    position: absolute;
    text-align: center;
    width: var(--body-cell-width);
    height: var(--body-cell-height);
}

@media (max-width: 768px) {
    .cell {
        padding: var(--spacing-xs) var(--spacing-s);
    }
    .product-actions {
        flex-direction: row-reverse;
    }
}

@media (max-width: 375px) {
    .cell {
        padding: var(--spacing-xxs) var(--spacing-xs);
    }
    .product-info {
        gap: var(--spacing-xxs);
    }
    .product-img {
        width: 50px;
        height: 50px;
    }
}
